dist: trusty
sudo: required
group: beta
language: node_js
node_js:
  - "8"
  - "9"
  - "10"
  - "11"
  - "12"
cache:
  directories:
    - node_modules
install: npm install
script:
  - npm run lint
  - npm run build
  - npm run copy:cname
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  local-dir: "dist"
  on:
    branch: master
    node: "12"
