/*LOGO SECTION*/
.logo-wrapper{
    color: #ffffff!important;
    font-size: 0.9em;
}

.logo{
    display: inline-block!important;
    width: 45px;
    margin-bottom: 8px;
}


/*HEADER SECTION*/



.header-section {
    position: relative;
    background: #f9a510;
}
/* You could use :after - it doesn't really matter */
.header-section:after {
    content: ' ';
    display: block;
    position: absolute;
    right: 0;
    top: -1px;
    width: 57%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background-image: url("../images/icons/logo.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    background-size: cover;
    background-position: right;
}


.dismiss{
    cursor: pointer;
}

.ui.header {
    font-family: 'Roboto', sans-serif !important;
}

.ui.dividing.header {
    border-bottom: 2px solid #ffffff!important;
}

.ui.divider:not(.vertical):not(.horizontal) {
    border-top: 2px solid #ffffff!important;
    border-bottom: 1px solid #ffffff!important;
}

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url]{
    color: #ffffff!important;
}

/*META ADDRESS*/

.meta-address-holder{
    display: inline-block;
    background-color: #ffffff;
    padding: 3px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;

}

.meta-address-holder > a{
    color: #33669A!important;
}

/*NOTIFICATION SECTION*/
.alertWrapper{
    background-color: #266baf!important;
}

.alertWrapper span{
    color: #e2dfdf!important;
}

 .alertWrapper a{
    color: #ffffff!important;
}

/*CONTRACT FORM*/
.contract-form input{
    background: transparent!important;
    margin-bottom: 10px!important;
    border: 1px solid #ffffff!important;
    border-radius: 15px!important;
}

.contract-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff!important;
}
.contract-form input::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff!important;
}
.contract-form input:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff!important;
}
.contract-form input:-moz-placeholder { /* Firefox 18- */
    color: #ffffff!important;
}


.contract-form  i.icon {
    color: #ffffff!important;
    line-height: 0.3!important;
}



/*ABOUT SECTION*/

.about-section{
    margin-top: 117px;
    margin-bottom: 70px;
}

.about-header {
    font-size: 2.7em!important;
    font-weight: normal!important;
    margin-bottom: 36px!important;
}

.about-section p{
    font-size: 1.3em!important;
    color: #7491A5!important;
    margin-bottom: 34px!important;
    line-height: 31px!important;
}


/*Container Section*/
@media only screen and (min-width: 1200px) {
    .ui.container {
        width: 1000px!important;
    }
}


/*META MASK FORM DETAILS*/

.formDetails{
    background-color: #FDFEFF;
    padding-top: 30px;
}


.formDetails-section1{
    background-color: #ffffff;
    padding: 44px 32px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(212,212,212,1);
    -moz-box-shadow: 0px 4px 10px 0px rgba(212,212,212,1);
    box-shadow: 0px 4px 10px 0px rgba(212,212,212,1);
}

.btnHolder{
    padding: 30px;
    text-align: right;
}

a.ash{
    background-color: #7491A5;
    color: #ffffff;
    padding: 14px 25px;
    border-radius: 23px;
}

.formDetails-section1 .header{
    color: #000000!important;
    font-weight: 900!important;
    font-size: 1.7em!important;
    margin-bottom: 3px!important;
}

.formDetails-section1 .description a, .formDetails-section1 .description{
    color: #ADC5D8!important;
}

.formDetails-section1 .item{
    padding-bottom: 15px!important;
}

/*FOOTER SECTION*/
.footer-section{
    background-color: #ffdf9f!important;
    padding-top: 40px!important;
    padding-bottom: 40px!important;
}


