/*LOGO SECTION*/
.logo-wrapper{
    color: #ffffff!important;
}

.logo{
    display: inline-block!important;
    width: 51px;
    margin-bottom: 8px;
}


/*HEADER SECTION*/



.header-section {
    position: relative;
    background: #f9a510;
}
/* You could use :after - it doesn't really matter */
.header-section:before {
    content: ' ';
    display: block;
    position: absolute;
    right: 0;
    top: -1px;
    width: 57%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background-image: url("../images/icons/logo.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    background-size: cover;
    background-position: right;
}


.dismiss{
    cursor: pointer;
}

.ui.header {
    font-family: 'Roboto', sans-serif !important;
}

.ui.dividing.header {
    border-bottom: 1px solid #ffffff!important;
}

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url]{
    color: #ffffff!important;
}

/*META ADDRESS*/

.meta-address-holder{
    display: inline-block;
    background-color: #ffffff;
    padding: 3px 20px;
}

/*NOTIFICATION SECTION*/
.alertWrapper{
    background-color: #266baf!important;
}

.alertWrapper span{
    color: #e2dfdf!important;
}

 .alertWrapper a{
    color: #ffffff!important;
}

/*CONTRACT FORM*/
.contract-form input{
    background: transparent!important;
    margin-bottom: 10px!important;
    border: 1px solid #ffffff!important;
    border-radius: 15px!important;
}

.contract-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff!important;
}
.contract-form input::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff!important;
}
.contract-form input:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff!important;
}
.contract-form input:-moz-placeholder { /* Firefox 18- */
    color: #ffffff!important;
}


.contract-form  i.icon {
    color: #ffffff!important;
    line-height: 0.3!important;
}



/*ABOUT SECTION*/

.about-section{
    margin-top: 117px;
    margin-bottom: 70px;
}


/*FOOTER SECTION*/
.footer-section{
    background-color: #ffdf9f!important;
    padding-top: 40px!important;
    padding-bottom: 40px!important;
}

.footer-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 292.88px;
}
